{% extends 'base.html.twig' %}

{% block title %}
    Temporadas da série "{{ series.name }}"
{% endblock %}

{% block body %}
<ul class="list-group">
    {% for season in seasons %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ path('app_episodes', {season: season.id}) }}">
            Temporada {{ season.number }}
        </a>
        <span class="badge bg-secondary">
            {{ season.watchedEpisodes|length }} / {{ season.episodes|length }}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
